<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row justify-content-between">
            <div>
                &copy; 2019 by FilatovAV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            @*<div>
                <p>by FilatovAV</p>
            </div>*@
        </div>
    </div>
</footer>