@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    TaskQueue - Application for self-learning technologies ASP .Net Core MVC, Dependency Injection, Entity Framework.
</p>
